<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/addStudent.css">
    <link rel="stylesheet" href="/body.css">
</head>
<body>
    <%- include('header.html') %>
    <section>
        <form action='<%=nav.addStudent%>' method='POST'>
            <% Object.keys(formTemp).forEach((key) => {%>
                    <label for='<%=key%>'><%= formTemp[key] %></label>
                    <input type="text" id='<%=key%>' name='<%=key%>'>
                    <br/>
            <%});%>
            <button type='submit'>SUBMIT</button>
        </form>
    </section>
</body>
</html>