<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/addStudent.css">
    <link rel="stylesheet" href="/body.css">
</head>
<body>
    <%- include('header.ejs') %>
    <section class="sec-addStudent">
        <form action='<%=nav.addStudent%>' method='POST' class='formContainer'>
            <h3 class='formHeader'>Add New Student</h3>
            <p class='formIntro'>Fill the form with information of the new student and click submit.</p>
            <% Object.keys(formTemp).forEach((key) => {%>
                <div class='<%=key%>Input'>
                    <% if (formTemp[key].type === 'input') {%>
                        <input type="text" id='<%=key%>' name='<%=key%>' placeholder='<%= formTemp[key].display %>'>
                    <% }else{%>
                        <textarea  id='<%=key%>' name='<%=key%>' placeholder='<%= formTemp[key].display %>' cols="30" rows="5"></textarea>                    
                    <% } %>
                    <label for='<%=key%>'><%= formTemp[key].display %></label>
                </div>
            <%});%>
            <button type='submit' class='submit'>SUBMIT</button> 
        </form>
    </section>
</body>
</html>